@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex items-center justify-center min-h-screen;
}

.EncounterCard {
    @apply max-w-md;

    .Header {
        @apply bg-gray-800 text-fallout-yellow text-4xl leading-none flex;
        border-bottom: dashed 1px white;

        .Number {
            @apply px-1 pb-1;
            border-right: dashed 1px white;
        }
    }

    .Story {
        @apply bg-fallout-yellow text-gray-900 italic p-3 text-center text-sm leading-tight font-serif;
    }

    .Choice {
        @apply bg-white text-sm text-black font-bold font-serif flex gap-2 py-2 px-2 items-center;

        &:not(:last-child) {
            border-bottom: dotted 2px black;
        }

        .Text {
            @apply w-full text-center;
        }

        &:hover {
            @apply bg-blue-100 cursor-pointer;
        }
    }

    .Bookmark {
        @apply inline-block bg-gray-900 text-base leading-none p-1 text-white font-sans font-normal;
    }

    .Attr {
        @apply inline-block p-0.5 mx-0.5 text-sm leading-none font-mono bg-gray-900 rounded text-white;
    }

    .Difficult {
        @apply inline-block p-0.5 mx-0.5 text-sm leading-none font-mono bg-none rounded;
    }

    .Result {
        @apply bg-fallout-blue text-gray-900 italic p-3 text-center text-sm leading-tight font-serif;

        & + .Result {
            border-top: dashed 1px black;
        }
    }

    .Script {
        @apply inline font-bold;

        & + .Script:before {
            content: " • ";
        }
    }
}

.SvgIcon {
    display: inline;
    height: 1.2em;
    width: auto;
    fill: currentColor;
}
